<% publish_to '/messages/new' do %>
  var render = "<%= j(render partial: 'messages/message', locals: {time: Time.now, content: params[:content], nick: @nick}) %>";
  $("#chat-box").append(render);
<% end %>
$("#msg-input").val('');