%h1
  %del
    Better
  %em
    Still Lame
  Chat!
%hr

%h3 Chat box:
.row
  .col-xs-6.chat-box#chat-box
  .col-xs-1
  .col-xs-4{style: 'padding: 0'}
    = form_tag new_message_path, method: 'post', remote: true do
      = label_tag 'Nickname'
      %br
      = text_field_tag :nickname, nil, class: 'form-control', placeholder: 'Anonymous'
      %br
      = label_tag 'Message'
      %br
      = text_area_tag :content, nil, class: 'form-control', style: 'resize: none; height: 100px', id: 'msg-input'
      %br
      = submit_tag 'Send', class: 'btn btn-primary'

= subscribe_to '/messages/new'
