/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  margin-top: 20px !important;
  margin-bottom: 40px !important;
}

h1, h2, h3 {
  font-weight: bold !important;
}

.chat-box {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  height: 300px;
  margin-left: 15px !important;
  overflow: scroll;
}